---
layout: bigace-fullpage
title: BIGACE - 404 Page not found
description: The requested page could not be found
permalink: /404.html
---
<script type="text/javascript">
    var testUrl = window.location.pathname;
    
    var foundPlugin = testUrl.indexOf("/plugins/"); 
    if (foundPlugin != -1) {
        var pluginsHome = "https://github.com/bigace/plugin-releases";
        var newUrl = pluginsHome + testUrl.substr(foundPlugin);
        location.href = newUrl;
    }

    var redirects = [
        {"old": "/plugins", "new": "https://github.com/bigace/plugin-releases"},
        {"old": "/famfamfam-1.html", "new": "https://github.com/bigace/plugin-releases"}
    ];
    for(var key in redirects) {
        var link = redirects[key];
        if (link.old == testUrl) {
            location.href = link.new;
        }
    }
</script>
<div class="notFound">
    <h1>404 - File not found</h1>
    <p>The file you requested could not be found. <br/>Probably you find it in the list of all pages and post below.</p>
    
    <h2>Pages</h2>
    <ul>
    {% for page in site.pages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}  <!-- page -->
    </ul>

    <h2>News</h2>
    <ul>
    {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</div>