---
layout: bigace-blog
title: BIGACE Web CMS Blog
description: Blog - BIGACE CMS
author: all
full_posts: 5
permalink: /news.html
redirect_from:
  - /news/
  - /de/news.html
  - /news/archive/2008-02/
  - /news/archive/2008-03/
  - /news/archive/2009-10/
---
<div id="newsListing">
{% for post in site.posts %}
    {% if forloop.index < page.full_posts %}
        <article class="newsEntry">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="post-meta">
                {{ post.date | date_to_string }} by
                <a href="https://github.com/{{ post.author }}" class="post-author">{{ post.author }}</a>
            </p>
            <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
        </article>
    {% else %}
        {% if forloop.index == page.full_posts %}
        <h2>Older Posts</h2>
        <table class="post-list">
        {% endif %}
        <tr>
            <td><a href='{{ post.url }}'>{{ post.title }}</a></td>
            <td class="post-date">{{ post.date | date_to_string }}</td>
        </tr>
    {% endif %}
{% endfor %}
        </table>
</div>