

<div id="contentEnd">
    <img src="/images/content_end.png" width="990" height="11" alt="" />
</div>

<div id="footer">
    <div class="legal">
        <a href="/impressum.html">Contact & Legal notice</a> |
        Made with love, but slightly outdated :-)
    </div>
    <div class="see">
        See also:
        <a target="_blank" href="http://www.kevinpapst.de/" rel="author developer" title="Kevin Papst">Kevin</a>
    </div>
</div>

</div> <!-- wrapper -->

</div> <!-- outer wraper -->

<a href="https://github.com/bigace/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

</body>
</head>
</html>